a:link{
    color : #7ee4ef;
}

a:visited{
    color : #0f3779;
}

a:hover{
    background-color : rgb(213, 219, 213);
    color : black;
}

a:active{
    color : rgb(122, 7, 119);
}

.form-ctrl{
    display : block;
    width : 50%;
    font-size : 1.2rem;
    margin-bottom : 0.4rem;
}

.form-ctrl:focus{
    outline : 2px solid #ccc;
}

#regist{
    background-color : #5f93e6;
    color : white;
    padding : 0.6em;
    border-radius : 0.5em;
    border : 1px solid #ccc;
}
#regist{
    background-color: #81070f;
  color: black;
  cursor: pointer;
}

#regist:active{
    background-color : #4c2183;
}

em{
    border: 2px dashed #46ce71;
}




